@media all {
  :root {

    --shadow-color: 0deg 0% 0%;

    --shadow-elevation-low: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.18),
      1.4px 2px 2.7px -2.5px hsl(var(--shadow-color) / 0.18);
    --shadow-elevation-medium: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.2),
      1.8px 2.6px 3.6px -1.2px hsl(var(--shadow-color) / 0.23),
      7px 10.2px 13.9px -2.5px hsl(var(--shadow-color) / 0.2);
    --shadow-elevation-high: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.15),
      2.8px 4.1px 5.6px -0.5px hsl(var(--shadow-color) / 0.2),
      6px 8.8px 12px -1px hsl(var(--shadow-color) / 0.15),
      11.6px 17px 23.2px -1.5px hsl(var(--shadow-color) / 0.15);

    --gray-0: rgba(255, 255, 255, 1);
    --gray-7: rgba(117, 117, 117, 1);
    --background-primary: var(--gray-0);
    --font-lineheight-3: 1.5;
    --foreground-muted: var(--gray-7, rgba(117, 117, 117, 1));
    background-color: var(--background-primary, rgba(13, 15, 18, 1));
    color: var(--foreground-muted, rgba(156, 156, 156, 1));
    font-weight: 400;
    --font-family-primary: "IBM Plex Mono", Arial;
    --font-family-secondary: "Raleway", Arial;
    font-family: var(--font-family-primary, "IBM Plex Mono", Arial);
    line-height: var(--font-lineheight-3);
  }

  .pop-shadow {
    box-shadow: var(--shadow-elevation-medium) !important;
    transition:
      box-shadow 0.15s ease-out,
      transform 0.15s ease-out !important;
  }

  .pop-shadow:hover {
    box-shadow: var(--shadow-elevation-high) !important;
  }
}
